<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <h1>Gregslist</h1>
        <h2>Please choose a listing!</h2>
        <nav>
          <div class="mb-3">
            <a href="#/cars">
              <button class="btn btn-success">Cars 🏎️</button>
            </a>
          </div>
          <div>
            <a href="#/houses">
              <button class="btn btn-success">Houses 🏡</button>
            </a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>